.block10
  width 100%
  height 404px
  position relative
  media (min-width d-screen)
    height 360px

  .parallax-container
    position absolute
    top 0
    left 0
    width 100%
    height 420px

    .parallax

      img
        left 100%!important
        @media (min-width t-screen)
          width 120%
          left 50%!important




  .block10-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column
    padding-top 32px
    box-sizing border-box
    position relative
    transform: translateZ(-1px);
    @media (min-width t-screen)
      padding-top 80px
    @media (min-width d-screen)
      padding-top 64px

    .block10-head
      width 100%
      height auto

      h3
        color #ffffff
        font-family Geometria
        font-size 25px
        font-weight 300
        line-height 26px
        text-align center
        margin-bottom 24px
        @media (min-width t-screen)
          font-size 37px
          line-height 40px
          margin-bottom 16px
          br
            display none
        @media (min-width d-screen)
          margin-bottom 24px
          br
            display block

      p
        color #ffffff
        font-family Geometria
        font-size 18px
        font-weight 300
        text-align center
        @media (min-width t-screen)
          font-size 21px
        @media (min-width d-screen)
          br
            display none

    form
      width 290px
      height auto
      box-shadow 0 5px 15px rgba(0, 0, 0, 0.1)
      border-radius 4px
      background-color #ffffff
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      padding 32px 28px
      box-sizing border-box
      position absolute
      top 117%
      margin 0 auto
      @media (min-width t-screen)
        width 710px
        top 145%
        left 0
        padding-top 40px
        padding-bottom 33px
      @media (min-width d-screen)
        top 130%
        left 17%
        width 866px


      p
        color #555555
        font-family Geometria
        font-size 14px
        line-height 16px
        text-align center
        margin-bottom 32px
        @media (min-width t-screen)
          font-size 18px

      .input-form
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content center
        align-items center
        flex-direction column

        @media (min-width t-screen)
          flex-direction row
          justify-content space-between
          margin-bottom 20px

        input
          margin-bottom 16px
          color #b3b3b3
          font-family Lato
          font-size 13px
          font-weight 400
          letter-spacing 0.2px
          position relative
          @media (min-width t-screen)
            width 200px
            margin-bottom 0
            height 48px
          @media (min-width d-screen)
            width 240px

        button
          margin-top 16px
          margin-bottom 15px
          @media (min-width t-screen)
            margin-top 0
          @media (min-width d-screen)
            width 240px

      .polit
        font-size 10px
        margin-bottom 0
        color #c1c1c1