.block2
  width 100%
  height auto
  background-image url("img/block2-bg.png")
  background-size cover
  background-position top
  background-repeat no-repeat

  .block2-content
    width 100%
    height auto
    box-sizing border-box
    padding-top 160px
    padding-bottom 30px
    justify-content center
    align-items center
    flex-direction column
    @media (min-width t-screen)
      padding-top 62px
      padding-bottom 48px

    .block2-head
      width 100%
      height auto
      margin-bottom 24px
      @media (min-width t-screen)
        margin-bottom 48px


    .carousel
      width 100%
      height 370px
      @media (min-width t-screen)
        height 500px


      .carousel-item
        width 280px
        height 356px
        box-shadow 0 3px 13px rgba(0, 0, 0, 0.1)
        border-radius 3px
        background-color #ffffff
        padding-top 47px
        box-sizing border-box
        @media (min-width t-screen)
          width 393px
          height 500px

        .item-img
          width 100%
          height auto
          overflow hidden
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          margin-bottom 36px
          @media (min-width t-screen)
            margin-bottom 50px

          img
            width 100%
            height auto

        .item-text
          width 100%
          height auto
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          flex-direction column

          p
            font-family Geometria
            font-size 20px
            font-weight 300
            line-height 19.23px
            color #5c5c5c
            @media (min-width t-screen)
              font-size 27px
              line-height 30px
            span
              color #4fbae7
              @media (min-width t-screen)
                font-size 27px
                line-height 30px





