.block8
  width 100%
  height auto
  background-color #f0f5f8
  background-image url("img/block8-bg.png")
  background-size 100%
  background-position 0% -50%
  background-repeat no-repeat
  @media (min-width t-screen)
    background-size 72%
    background-position 106% -273%
  @media (min-width d-screen)
    background-position 106% 100%

  .block8-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column
    padding-top 48px
    padding-bottom 50px
    box-sizing border-box
    @media (min-width t-screen)
      padding-top 64px
      padding-bottom 70px

    .block8-head
      width 100%
      height auto
      margin-bottom 35px
      @media (min-width t-screen)
        margin-bottom 54px

    .student-slider
      width 100%
      height auto

      .carousel
        width 100%
        height 200px
        @media (min-width t-screen)
          height 393px

        .carousel-item
          border 3px solid #ffffff
          box-shadow 0 3px 14px rgba(0, 0, 0, 0.1)
          border-radius 3px
          @media (min-width t-screen)
            height 393px
            width 393px


