footer
  width 100%
  height auto
  border-top 1px solid #5dc6ec
  background-color #ffffff

  .footer-content
    width 100%
    height auto
    padding 15px 0
    display flex
    display -webkit-flex
    justify-content space-between
    align-items center
    flex-flow row wrap

    .footer-info-left
      width 50%
      order 2
      @media (min-width t-screen)
        width 33%
        order 1

      p
        color #888888
        font-family Lato
        font-size 12px
        font-weight 400
        text-align left

    .footer-info-center
      width 100%
      order 1
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      @media (min-width t-screen)
        width 33%
        order 2

      p
        color #888888
        font-family Lato
        font-size 14px
        font-weight 400
        text-align center

      a
        color #5dc6ec
        font-family Lato
        font-size 12px
        font-weight 400
        text-align center
        margin 0 auto

    .footer-nt-logotype
      width 50%
      order 3
      @media (min-width t-screen)
        width 33%
        order 3


      img
        width 113px
        height auto
        float right

#politic
    display:none

  h2
    text-align center
    margin-bottom 20px

  p
    color #888888
    font-family Lato
    font-size 14px
    font-weight 400
    text-align center

#thnx
  display none


