section.block7.cnt
    div.map-bg
    div.block7-content.row
        div.block7-head
            h2 Специалисты, которых рекомедуют во всём мире:

        div.region-block
            div.slick-prev-region
            div.slick-slider
                div.slick-slide
                    div.img-region

                    div.text-region
                        div.text-name
                            h3 Мария Иванова
                            img(src="img/usa.png")
                        div.position
                            p Ведущий специалист, США

                        div.region-text
                            p Компания Nouveau Contour (Нуво Контур) - ведущий мировой производитель профессионального оборудования для микропигментации.  Основанные в 1993 году, Nouveau Contour первыми представили профессиональный цифровой аппарат для перманентного макияжа на европейском рынке.


                div.slick-slide
                    div.img-region
                        img(src="img/girl2-slider.png")

                    div.text-region
                        div.text-name
                            h3 Мария Иванова
                            img(src="img/russia.png")
                        div.position
                            p Ведущий специалист, США

                        div.region-text
                            p Компания Nouveau Contour (Нуво Контур) - ведущий мировой производитель профессионального оборудования для микропигментации.  Основанные в 1993 году, Nouveau Contour первыми представили профессиональный цифровой аппарат для перманентного макияжа на европейском рынке.


            div.slick-next-region
