section.block11.cnt
    div.block11-content.row
        div.block11-head
            h2 Часто задаваемые &nbsp;
                span вопросы

        div.questions-answers-blocks
            div.questions-answers
                div.questions
                    p Что я получу в итоге?
                div.answers
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

            div.questions-answers
                div.questions
                    p Поможет ли мероприятие найти работодателя или работника?
                div.answers
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

            div.questions-answers
                div.questions
                    p Сколько человек будет на слёте аниматоров?
                div.answers
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

            div.questions-answers
                div.questions
                    p Сколько стоит вход на мероприятие?
                div.answers
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

            div.questions-answers
                div.questions
                    p Как проходит индивидуальный мастер класс у спикера?
                div.answers
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

            div.questions-answers
                div.questions
                    p Как купить и получить билет?
                div.answers
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.