section.block2
    div.block2-content.row
        div.block2-head
            h2 Ваш успех
                span  в наших руках

        div.carousel
            a.carousel-item(href="#" onclick="return false")
                div.item-img
                    img(src="img/item-1.png")
                div.item-text
                    p Ведущий бренд&nbsp;<br>
                        span во всем мире

            a.carousel-item(href="#" onclick="return false")
                div.item-img
                    img(src="img/item-2.png")
                div.item-text
                    p Академия&nbsp;<br>
                        span естественных наук

            a.carousel-item(href="#" onclick="return false")
                div.item-img
                    img(src="img/item-3.png")
                div.item-text
                    p Инноватор&nbsp;<br>
                        span и лидер знаний

            a.carousel-item(href="#" onclick="return false")
                div.item-img
                    img(src="img/item-4.png")
                div.item-text
                    p Высококачественное&nbsp;<br>
                        span оборудование


            a.carousel-item(href="#" onclick="return false")
                div.item-img
                    img(src="img/item-5.png")
                div.item-text
                    p Возможность&nbsp;<br>
                        span обучения в кредит

            a.carousel-item(href="#" onclick="return false")
                div.item-img
                    img(src="img/item-6.png")
                div.item-text
                    p Более&nbsp;<br>
                        span 20 лет опыта
