section.block5.cnt
    div.block5-content.row
        div.curs-slider
            div.slick-prev
            div.slick-slider
                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе

                div.slick-slide
                    div.slide-content
                        div.slide-head
                            p Татуаж век
                            h3 Растушевка <br>«Smokey eyes»
                        div.curs-info
                            a.fancybox(href="#pop-up1" onclick="return false") Узнать о курсе


            div.slick-next
