section.block12.cnt
    div.block12-content.row
        div.block12-head
            h2 Контакты

        div.contacts

            div.maps
                <iframe src="https://yandex.ru/map-widget/v1/-/CBUN6TEzHA" frameborder="0"></iframe>

            div.contact-info
                div.phone-mail
                    p Стань дилером новых культур:
                    a(href="tel:84959001010") 8 (495) 900-10-10
                    a(href="mailTo:Info@tatuazh-brovi.ru") Info@tatuazh-brovi.ru

                div.addres
                    p Адрес:
                    p г. Москва, ул. Большая Филевская д.19/18к1
                    p Время работы: 10.00-20.00

                div.social
                    p Подписывайтесь на нас:
                    div.icon-social
                        a(href="#" target="_blank")
                            img(src="img/vk.png")
                        a(href="#" target="_blank")
                            img(src="img/fb.png")
                        a(href="#" target="_blank")
                            img(src="img/insta.png").


