section.block4.cnt
    div.block4-content.row
        div.block4-head
            h2 Виды&nbsp;
                span обучения

        div.training-blocks
            div.training-block
                div.training-img
                    img(src="img/photo-girl.png")
                div.training-text
                    p Татуаж век
                    h3 Художественная стрелка «Pitchblack»
                    div.days-block
                        div.start-training
                            p Старт курса:
                            span 13 августа
                        div.time-training
                            p Длительность:
                            span 6 дней

                    ul
                        li •  Колористика, построение эскиза
                        li •  Постановка руки
                        li •  Отработка на латексе

                        a.link-arrow.fancybox(href="#pop-up1") Подробнее

                    div.price-block
                        div.price
                            p Стоимость:
                            span 75 000&nbsp;
                                b руб.

                        button.blue-botton Записаться на курс
                        p Свободных мест: 8

            div.training-block
                div.training-img
                    img(src="img/photo-girl.png")
                div.training-text
                    p Татуаж бровей, век и губ
                    h3 Углубленный <br>базовый курс
                    div.days-block
                        div.start-training
                            p Старт курса:
                            span 13 августа
                        div.time-training
                            p Длительность:
                            span 6 дней

                    ul
                        li •  Колористика, построение эскиза
                        li •  Постановка руки
                        li •  Отработка на латексе

                        a.link-arrow.fancybox(href="#pop-up1") Подробнее

                    div.price-block
                        div.price
                            p Стоимость:
                            span 75 000&nbsp;
                                b руб.

                        button.blue-botton Записаться на курс
                        p Свободных мест: 8


            div.training-block
                div.training-img
                    img(src="img/photo-girl.png")
                div.training-text
                    p Татуаж бровей
                    h3 Техника <br>«Stardust»
                    div.days-block
                        div.start-training
                            p Старт курса:
                            span 13 августа
                        div.time-training
                            p Длительность:
                            span 6 дней

                    ul
                        li •  Колористика, построение эскиза
                        li •  Постановка руки
                        li •  Отработка на латексе

                        a.link-arrow.fancybox(href="#pop-up1") Подробнее

                    div.price-block
                        div.price
                            p Стоимость:
                            span 75 000&nbsp;
                                b руб.

                        button.blue-botton Записаться на курс
                        p Свободных мест: 8




div#pop-up1
    div.popup-content
        h4 Татуаж век
        h3 Художественная стрелка «Pitchblack»

        p Углубленный Базовый курс с сертифицированным тренером-преподавателем международной академии Nouveau Contour, косметологом с медицинским образованием, мастером по перманентному макияжу с 7ми-летним стажем, специалистом по удалению и исправлению некачественного татуажа - Анастасией Рогановой. Программа курса основана на богатейшем опыте академии Nouveau Contour, основанной в 1997 году и представленной более чем в 32 странах мира.

        p.p-title ПРЕДЛАГАЕМ БЕСПРОЦЕНТНУЮ ГОДОВУЮ РАССРОЧКУ БЕЗ ПЕРВОНАЧАЛЬНОГО ВЗНОСА НА ОБУЧЕНИЕ, ОБОРУДОВАНИЕ И РАСХОДНЫЕ МАТЕРИАЛЫ!

        p Открыта запись в группу: 24-27 августа.
        p Практика на 2х моделях на каждую зону - брови, губы, веки.
        p Все обучение проходит на сертифицированном оборудовании последнего поколения и пигментах Nouveau Contour (Германия). Бесплатно предоставляем учебное пособие академии Nouveau Contour (учебник по перманентному макияжу).

        p На время обучения все материалы и оборудование предоставляются академией.
        p После окончания обучения выпускникам предоставляется брендированный информационный материал академии (информативные согласия, рекомендации по уходу, постеры, раздаточный материал и многое другое.)


