section.block9.cnt
    div.block9-content.row
        div.insta-blocks
            div.insta-block
                div.insta-head
                    div.photo-profile
                        img(src="img/")
                    div.name-profile
                        h4 tatuazhbrovi
                        a(href="#") Подписаться

                div.public-block
                    div.block1
                        p 528
                        span публицкаций
                    div.block2
                        p 71,4 тыс.
                        span подписчиков
                    div.block3
                        p 286
                        span подписки

                div.publications-block
