section.block8.cnt
    div.block8-content.row
        div.block8-head
            h2 Наши&nbsp;
                span студенты

        div.student-slider
            div.carousel
                a.carousel-item(href="#" onclick="return false")
                   img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")
                a.carousel-item(href="#" onclick="return false")
                    img(src="img/student-photo.png")

