section.block6.cnt
    div.block6-content.row
        div.block6-head
            p Академия <br>перманентного макияжа
            img(src="img/logo.svg")

        div.video-text-content

            div.block6-video
                div.big-video
                    video(playsinline autoplay muted loop preload)
                        source(src="img/Nouveaucontour.mp4" type="video/mp4")
                div.mini-video
                    a.fancybox(href="#video-popup")
                        img(src="img/video-img.png")
                    a.fancybox(href="#video-popup")
                        img(src="img/video-img.png")
                    a.fancybox(href="#video-popup")
                        img(src="img/video-img.png")

            div.block6-text
                div.description-text
                    p Компания Nouveau Contour (Нуво Контур) - ведущий мировой производитель профессионального оборудования для микропигментации.  Основанные в 1993 году, Nouveau Contour первыми представили профессиональный цифровой аппарат для перманентного макияжа на европейском рынке.
                    p Nouveau Contour – это международная организация с собственным производством в Германии и штаб-квартирой в Нидерландах, что позволяет ей соблюдать высокие нормы стандартов и контроля качества всего ассортимента продукции. На 2017 год компании представлена в 32 странах мира.

                div.hours-block
                    div.hours
                        p 2012
                        p 2015
                        p 2016
                        p 2017
                    div.hours-text
                        p Анастасия Роганова начинает частную практику мастера ПМ
                        p В команде появляется управляющий и начинается активное развитие студии
                        p Открытие студии татуажа и обучающего центра А. Рогановой в г. Москве
                        p Заключение дистрибьюторского контракта с компанией Nouveau Contour


div#video-popup
    <iframe src="https://www.youtube.com/embed/5f-odPsHW9o?ecver=1" frameborder="0" allowfullscreen></iframe>

