footer.cnt
    div.footer-content.row
        div.footer-info-left
            p ОГРН: 1177746455446
            p ИНН: 7704410856
        div.footer-info-center
            p ООО «Название»
            a.fancybox(href="obrabotka_personalnih_dannih_nc.pdf" target="_blank") Политика конфиденциальности
        div.footer-nt-logotype
            a.fancybox(href="http://worknext.ru/" target="_blank")
                img(src="img/nt-logo.png")





      

div#politic
    div.politic-popup
        h2 Политика конфиденциальности
        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.


div#thnx
    div.thnx-popup
        h2 Спасибо за заявку
