title Star
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="")
link(rel="icon" type="image/x-icon" href="img/favicon.ico")
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" href="fonts/stylesheet.css")
link(rel="stylesheet" type="text/css" href="js/slick/slick.css")
link(rel="stylesheet" type="text/css" href="js/slick/slick-theme.css")
link(href="js/fbx/jquery.fancybox.css" rel="stylesheet")
link(href="js/hamb/hamburgers.css" rel="stylesheet")
link(href="js/carosel/materialize.min.css" rel="stylesheet" media="screen,projection")

script(src="js/jquery.min.js")
script(src="js/jquery.form.js")
script(src="js/jquery.form.min.js")
script(src="js/slick/slick.js")
script(src="js/slick/slick.min.js")
script(src="js/fbx/jquery.fancybox.js")
script(src="js/jquery.maskedinput.js")
script(src="js/carosel/materialize.min.js")
script(src="js/script.js")



